body {
  background-image: url(""); /* Ruta relativa a la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
